server:
  port: ${SERVER_PORT:8080}

spring:
  data:
    mongodb:
      uri: ${MONGODB_URI}
  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

# JWT Configuration
jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}

# OAuth Configuration
google:
  client-id: ${GOOGLE_CLIENT_ID}
  client-secret: ${GOOGLE_CLIENT_SECRET}

# CORS Configuration
app:
  cors:
    allowed-origins: ${ALLOWED_ORIGINS:http://localhost:3000}
  mail:
    from: ${MAIL_FROM}
    to: ${MAIL_TO}

logging:
  level:
    root: ${LOGGING_LEVEL:INFO}
    com.prashant.portfolio: ${LOGGING_LEVEL:INFO}

